body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightslategray;
    
}

.aware-text {
    color: red; /* You can choose your desired color here */
    font-size: 70px;
    font-style: italic;
    font-weight: 800;
    text-shadow: 5px 2px #222324, 2px 4px #222324, 3px 5px #222324; 
}


.word {
    position: absolute;
    top: 190px;
    left: 670px;
    margin: auto;
    color: white;
    font: 700 normal 4.0em 'tahoma';
    text-shadow: 5px 2px #222324, 2px 4px #222324, 3px 5px #222324;
  }
header {
    width: 84%;
    height: 50px;
    margin: 0;
    padding-left: 30px;
}
header a {
    text-decoration: none;
    color: white;
    width: 100%;
    font-size: 35px;
    text-shadow: 5px 2px #222324, 2px 4px #222324, 3px 5px #222324;
}
header a:hover {
    color: rgb(40, 40, 182);
}

.card1 {
    display: inline-flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
}

.card1-text p {
    font-size: 50px;
    width: 55%;
    padding-top: 170px;
    color: white;
    padding-left: 440px;
}  
#button-start {
    text-align: center;
    width: 15%;
    border-radius: 15px;
    background-color: blue;
    font-size: 32px;
    color: aliceblue;
    height: 60px;
    margin-left: 800px;
}
#button-start:hover {
    background-color: rgb(40, 40, 182);
}
.timer {
    text-align: right;
    height: 50px;
}

.time{
    font-size: 30px;
}
.card2 ol {
    display: inline-flex;
    flex-direction: column;
    text-align: left;
}
.list {
    text-align: left;
}
.q-button {
    background-color: blue;
    margin: 20px;
    border-radius: 15px;
    height: 75px;
    width: 350px;
    padding-left: 30px;
    justify-content: left;
    
}
.q-button:hover {
    background-color: rgb(40, 40, 182);
}
.card2 ol li {
    border-radius: 5px;
    width: 100%;
    text-align: left;
    margin: 10px;
    color: aliceblue;
    font-size: 25px;
}
.card2 {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 80%;
    padding-left: 200px;
}
.card2 h1 {
    font-size: 60px;
    text-align: left;
}
footer  {
    color: rgb(238, 11, 11);
    border-style: solid none none none;
    width: 80%;
    display: flex;
   margin-left: 120px;
    border-color: black;
    font-size: 50px;
}



.leaderbored {
    display: flex;
    width: 100%;
    flex-direction: column;
}
.fin-score {
    font-size: 35px;
    text-align: center;
}
.form-initials {
display: flex;
text-align: center;
align-items: center;
justify-content: center;
}
.initials{
    font-size: 25px;
    margin: 10px;
}
.-time {
    display: flex;
    margin: 10px;
    font-size: 27px;
    padding-left: 225px;
}
.-time h2 {
    color: red;
    font-size: 100px;
    margin-left: 0px;
    font-size: 45px;
    padding-left: 20px;
}
