body {
    width: 100%;
    display: inline-flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 250px;
}

form {
    text-align: center;
}

.score {
    font-size: 25px;
}
.button {
    width: 100px;
    margin-top: 20px;
    height: 30px;
}
ol{
    display: inline;
    list-style: none;
}

#nameList {
    margin-top: 20px;
    list-style-type: decimal;
  }

li {
    text-decoration: none;
    list-style: none;
    background-color: blue;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    color: aliceblue;
    text-align: center;
    align-content: center;
    margin: 10PX;
}

